<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Multiplayer Game</title>

    <link href="Styles/bootstrap.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.2.1.js"></script>
    <!--<script type="text/javascript" src='<%= ResolveClientUrl("~/signalr/hubs") %>'></script>-->
    <script src="../Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="../signalr/hubs"></script>
    <script src="../Scripts/jquery.mazeBoard.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <link rel="icon"
          type="image/png"
          href="Images/icon.png" />
    <script src="../Scripts/navbar.js"></script>
    <script src="../Scripts/MultiplayerGame.js"></script>
</head>
<body>
    
    <div id="navBar"></div>
    <div class="divider">
        <h2 class="h2">Multiplayer Game</h2>
    </div>
    <div>
        <form class="form-inline">
            <table>
                <tr>
                    <th>Games</th>
                    <td>
                        <select id="games">
                            <!--<option id="firstAlgo">BFS</option>
                            <option id="secondAlgo">DFS</option>-->
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><button id="joinGame">Join Game</button></td>
                </tr>
                </table>
                <br />
                    <h3>Start New Game</h3>
                <br />
            <table>
                <tr>
                    <th>Name</th>
                    <td><input id="mazeName" /></td>
                </tr>
                <tr>
                    <th>Rows</th>
                    <td><input id="rows" /></td>
                </tr>
                <tr>
                    <th>Cols</th>
                    <td><input id="cols" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button id="startGame" type="submit" onsubmit="return false">Start Game</button></td>
                </tr>
            </table>
            <div style="position: absolute; top:100px; left:280px">
                <canvas id="mazeCanvas" width="450" height="450" style="border:solid; border-color: black"></canvas>
            </div>
            <div style="position: absolute; top:100px; left:750px">
                <canvas id="mazeCanvas2" width="450" height="450" style="border:solid; border-color: black"></canvas>
            </div>
        </form>
    </div>
    <style>
        tr, td, th {
            font-size: 14px;
            padding: 9px;
        }
    </style>

</body>
</html>
