<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Register</title>

    <link href="Styles/bootstrap.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.2.1.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/navbar.js"></script>
    <script src="../Scripts/jquery.validate.js"></script>
    <script src="../Scripts/Register.js"></script>
</head>
<body>
    <p><div id="navBar"></div></p>
    <div>
        <h2>Register</h2>
        <form>
            <table>
                <tr>
                    <td>Username: </td>
                    <td><input type="text" id="usrName" /></td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td><input type="password" id="password" /></td>
                </tr>
                <tr>
                    <td>Enter your password again: </td>
                    <td><input type="password" id="passwordValidation" /></td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td><input type="email" id="email" /></td>
                </tr>
            </table>
        </form>
        <!--<form id="registerForm" <!--action="HomePage.html"-->
        <input type="submit" id="btnRegister" value="Register" />
        <!--</form>-->
        <style>
            tr, td {
                font-size: 14px;
                padding: 9px;
            }
        </style>

    </div>

</body>
</html>