<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>User Rankings</title>

    <link href="Styles/bootstrap.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.2.1.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/navbar.js"></script>
    <link rel="icon"
          type="image/png"
          href="Images/icon.png" />
</head>
<body>
    <div id="navBar" />
    <h2>User Rankings</h2>
    <ol id="lstRankings"></ol>
    <script src="../Scripts/UserRankings.js"></script>
</body>
</html>